@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body {
    background: url('bg-min.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Fugaz One', cursive;
    color:#ff00a3;
    /* design options below */
    padding: 10px 10px 10px 10px;
    margin: 0;
}

h2 {
    font-family: sans-serif;
    color: #FFFFFF;
    padding: 5px;
    border-bottom: solid #0028ff;
}

hr {
    border: 0;
}

#main {    
    margin: 0px;
    padding: 0px;
}

#header {
    vertical-align: middle;
    background: #350051;
}

footer {
    vertical-align: middle;
    background: #350051;
    color: #FFFFFF;
    font-family: sans-serif;
}

footer p {
    padding: 5px;
}

.twocol-first {
    /* width: 50%; */
    float: left;
    margin: 0;
}

#bookings {
    text-align: right;
    float: right;
    margin: 0;
}

#bookings p {
    color: #FFFFFF;
    font-family: sans-serif;
    padding: 10px 10px 7px;
}

#video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a .addthis_follow_label {
    color: white;
}

@media only screen and (min-width: 768px) {
    #main {
        margin: 30px auto;
        width: 640px;
    }
    h1 {
        padding: 10px 10px 0px 10px;
    }
    #bookings p {
        padding: 8px;
    }
}

/* Stolen CSS for instagram button */
.addthis_toolbox a.at300b, .addthis_toolbox a.at300m {
    width: auto;
}
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
    padding: 0 2px;
}
.addthis_default_style .addthis_separator, .addthis_default_style .at4-icon, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300bs, .addthis_default_style .at300m {
    float: left;
}
.addthis_toolbox a {
    margin-bottom: 5px;
    line-height: initial;
}
.at300b, .at300bo, .at300bs, .at300m {
    cursor: pointer;
}

a .at-icon-wrapper {
    cursor: pointer;
}
.at-icon-wrapper {
    display: inline-block;
    overflow: hidden;
}

.at-icon {
    fill: 
    #fff;
    border: 0;
}